.column-block {
	padding: 0 1rem 1rem 1rem;
	border-radius: 5px;
	background-color: var(--primary-color);
}

.column-header {
	padding-top: 1rem;
	margin: 0 0 1rem 0;
	position: sticky;
	top: 0;
	background-color: inherit;
}

.column-top-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.column-title {
	margin: 0;
	line-height: 1;
}

.column-tasks-count {
	padding: 0.1rem 0.5rem;
	color: var(-third-color);
	background-color: rgb(var(--third-alpha-color) / 0.2);
	border-radius: 5px;
}

.add-button {
	display: block;
	width: 100%;
	padding: 0.3rem 0;
	background-color: rgb(var(--third-alpha-color) / 0.2);
	text-align: center;
	border: none;
	font-size: inherit;
	font-family: inherit;
	color: var(--third-color);
	border-radius: 5px;
	margin-bottom: 1rem;
	cursor: pointer;
}
