.main-section {
	flex: 1;
	height: 100vh;
	overflow-y: auto;
}

.projects-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 2rem;
}

.create-project-button {
	background-color: transparent;
	border: none;
	color: rgb(var(--fifth-alpha-color) / 0.5);
	font-size: inherit;
	cursor: pointer;
	font-family: inherit;
	transition: color 0.2s;
}

.create-project-button:hover {
	color: var(--fifth-color);
}

.projects-list {
	margin: 2rem;
}

.default-message {
	color: var(--fifth-color);
	text-align: center;
}

.project-button {
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	color: var(--black-color);
	border: none;
	cursor: pointer;
}
